<section>
  <h1>Recent Tracks</h1>
  <script type="text/javascript">
    function getRecentLastfmTracks(data) {
      var output = "<ul>";
      var tracks = data["recenttracks"].track;
      for (var i=0, l=tracks.length; i<l; i++) {
        var track      = tracks[i];
        var artist     = track["artist"]["#text"];
        var track_name = track["name"];
        var track_url  = track["url"];
        output += '<li><a href="' + track_url + '">' + artist + ' - ' + track_name + '</a></li>';
      }
      output += "</ul>";
      $('#lastfm').html(output);
    }
  </script>
  <div id="lastfm"></div>
  <script type="text/javascript" src="http://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&amp;user={{ site.lastfm_user }}&amp;format=json&amp;limit={{ site.lastfm_count }}&amp;api_key={{ site.lastfm_api }}&amp;callback=getRecentLastfmTracks"></script>
  <a href="http://www.last.fm/user/{{ site.lastfm_user }}">@{{ site.lastfm_user }}</a> on Last.fm
</section>
